:root {
    --white: #fff;
    --gray: #D9D9D9;
    --l-gray: #DFDFDF;
    --black: #333333;
    --blue: #92AEBB;
    /* --blue: #47885e; */
    --l-blue: #E4EFEF;
    /* --l-blue: #a6c8b2; */
    --snow: #fafafa;
}