:root {
    --white: #fff;
    --gray: #D9D9D9;
    --l-gray: #DFDFDF;
    --black: #333333;
    /* --blue: #92AEBB;
    --l-blue: #E4EFEF; */
    /* 緑系統 */
    --l-green: #d8e698;
    --green: #99ab4e;
    /* 茶色系統 */
    --l-blue: #7A4D3B;
    --blue: #EAE4E2;
    --brown: #4D3F3E;
    --snow: #fafafa;
}